@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
header{
    
    
    max-width: 1100px;
    width: 100%;
    margin: auto;
    position: absolute;
   
}
body{

    background: rgba(0, 0, 0, 0.966) url(img/img/bg.jpg) no-repeat center top;
    background-color: rgba(0, 0, 0, 0.966);
    background-size: contain;
}
main {
    max-width: 1100px;
    width: 100%;
    margin: auto;

}

#flex{
    padding-top: 200px;
    max-width: 483px;
    width: 100%;
    display: flex;
}
#logo{
    margin-top: 30%;
    height: 100%;
    background-image: url(img/img/logo.png) ;
    
}
#sinopse{

     font-weight: bolder;
    
}
#sinopse h1{
    padding-bottom: 10px;
    color: rgb(170, 9, 9);
    font-weight: bolder;
}
#sinopse p{

    width: 370px;
    color: white;
}
#assista{
    
    padding-top: 12px;
    font-size: 25px;
    width: 280px;
    height: 40px;
    margin: 49px 10px 50px 430px;
    font-weight: lighter;
    text-align: center;
    color: white;
    background-color: red;
    border-radius: 50px;
    border: 40px red;
    
}
#assista:hover{
    background-color:rgb(167, 4, 4) ;
    text-shadow: 1px 1px 1px black;
}
#irmaos{
    margin-bottom: 130px;
    margin-top: 130px;
    display: flex;
}

#sonny{

    background-image: url(img/img/01.jpg);
    height: 580px;
    width: 320px;
}
#michael{

    margin: 0px 70px;
    background-image: url(img/img/02.jpg);
    height: 580px;
    width: 320px;
}
#fredo{

    background-image: url(img/img/03.jpg);
    height: 580px;
    width: 320px;
}

#video{
    
    
    
    margin: auto;
    padding-bottom: 57%;
    position: relative;
   
     
}
div#video > iframe{
    
    padding: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    
}
footer{

    padding: 40px;
    font-size: 10px;
    text-align: center;
    color: white;
}

 
